.p-kotak {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .kotak {
    border: 2px solid red;
    width: 300px;
    height: 120px;
  }
  .text {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top: 11px;
  }
  h1 {
    text-align: center;
  }
  .kotak-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  #kolom-grid {
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(104, 192, 104);
  }